@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #E0E5E9;
    --foreground: #2D3339;
    --accent: #C28E7E;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .arched-image {
        border-top-left-radius: 999px;
        border-top-right-radius: 999px;
    }

    .fade-in {
        animation: fadeIn 1s ease-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-[#2D3339] font-serif;
    }
}